<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="MITSUMO_DB"
          providerName="System.Data.SqlClient"
          connectionString="Server=localhost;Database=MITSUMO;Integrated Security=True;"/>-->
    <add name="MITSUMO_DB"
        providerName="System.Data.SqlClient"
        connectionString="Server=HIGA_HP15\SQLEXPRESS;Database=MITSUMO;Uid=sa;Pwd=taka72"/>
    <add name="KIKAN_DB"
        providerName="System.Data.SqlClient"
        connectionString="Server=HIGA_HP15\SQLEXPRESS;Database=MITSUMO;Uid=sa;Pwd=taka72"/>
  </connectionStrings>
  <appSettings>
    <add key="MAIL_HOST" value="smtp.kagoya.net"/>
    <add key="MAIL_PORT" value="587"/>
    <add key="MAIL_USER" value="kir797510.t-higa"/>
    <add key="MAIL_PASS" value="takanari"/>
    <add key="PDF_DIR" value="pdf"/>
    <add key="TASK_SERVER_STARTUP" value="FALSE"/>
    <add key="TASK_SERVER_IP" value="192.168.1.0"/>
    <add key="TASK_USER" value="higa"/>
    <add key="TASK_PASSD" value="taka72"/>
    <add key="TASK_STARTUP_USER" value="higa"/>
    <add key="TASK_STARTUP_PASS" value="taka72"/>
  </appSettings>
  <!-- ... other xml settings ... -->

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>