<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Win" version="8.0.20242.693" targetFramework="net48" />
  <package id="C1.Win.C1Command" version="4.8.20242.693" targetFramework="net48" />
  <package id="C1.Win.C1FlexGrid" version="4.8.20242.693" targetFramework="net48" />
  <package id="C1.Win.C1Input" version="4.8.20242.693" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1587.40" targetFramework="net48" />
</packages>