<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="MITSUMO_DB"
          providerName="System.Data.SqlClient"
          connectionString="Server=localhost;Database=MITSUMO;Integrated Security=True;"/>-->
    <add name="MITSUMO_DB" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-S80RJ3N\MSSQLSERVER2016;Database=MITSUMO;Uid=sa;Pwd=taka72" />
    <add name="KIKAN_DB" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-S80RJ3N\MSSQLSERVER2016;Database=MITSUMO;Uid=sa;Pwd=taka72" />
  </connectionStrings>
  <appSettings>
    <add key="ADMIN_USER" value="admin" />
    <!--<add key="MAIL_HOST" value="smtp.gmail.com"/>
    <add key="MAIL_PORT" value="587"/>
    <add key="MAIL_USER" value="dosystest@gmail.com"/>
    <add key="MAIL_PASS" value="mxqpnbdajjwmozax"/>-->
    <add key="MAIL_HOST" value="smtp.kagoya.net" />
    <add key="MAIL_PORT" value="587" />
    <add key="MAIL_USER" value="kir797510.t-higa" />
    <add key="MAIL_PASS" value="takanari" />
    <add key="PDF_DIR" value="pdf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>